@import './default/colors'; 

    body { 
        color: $primary-color;
    }

    .header {  
        display: flex;
        background: black; 
        max-width: 1180px;
    } 
    .store-info-header { 
        display: flex;  
        justify-content: space-between;

    } 

    .store-link-container { 
        padding: 0px;
    }